<div class="box_menu">
	<div class="msgbox_out menu3">
		<div class="msgbox_in menu3">

		<h2>ユーザ編集画面</h2>

		<%= form_for(@user, url: users_path, method: 'patch', html: { id: 'user_info' }) do |f| %>
			<div class="input-form">
			メールアドレス：<%= f.email_field :email, :placeholder => 'メールアドレス', :class => 'input-field', :maxlength => 255, :disabled => 'disabled' %>
			名前：<%= f.text_field :name, :placeholder => '氏名(姓)', :class => 'input-field', :maxlength => 255 %>
	
			<%= f.submit "変更", :class => 'create-btn' %>
			<%#= link_to "パスワードを変更する", edit_pw_path, :class => 'link' %>
			<%#= link_to "アカウントを削除する", account_delete_path, :class => 'link' %>
			</div>
		<% end %>

		<%= form_for(@user, url: edit_pw_path, method: 'patch', html: { id: 'user_pw' }) do |f| %>
			<div class="input-form">
			パスワード：<%= f.password_field :password, :placeholder => '新しいパスワード', :class => 'input-field', :maxlength => 255 %>
			<%= f.submit "変更", :class => 'create-btn' %>
			</div>
		<% end %>

		<div class="input-form">
		<%= button_to 'アカウント削除', users_path(@user), method: :delete, :class => 'create-btn', data: {confirm: '削除しますか？'} %>
	  	</div>

		</div>
	</div>
</div>