<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <!-- Global site tag (gtag.js) - Google Analytics -->

<% if Rails.env.production? %>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-B4YPT1WD36"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-B4YPT1WD36');
</script>
<% end %>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">

<!-- seo -->
<meta name="description" content="当社はHP制作やリニューアル、企画からデザイン・運用に至るまで、お客様のご希望に沿ったサイト構築をご提案いたします。皆様や身近な方々の幸せのお手伝いをさせて下さい。">
<meta name="keywords" content="HP制作,WEB制作,SES事業,システム開発">

<!-- og -->

<% case controller.controller_name %>
  <% when 'game_bugsquest', 'sessions' %>
    <title>バグズクエスト｜株式会社Bug.s</title>
    <meta property="og:title" content="バグズクエスト｜株式会社Bug.s">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://bugs.co.jp/game/bugsquest">
    <meta property="og:image" content="https://bugs.co.jp/image/ogp_bugsquest.png">
    <meta property="og:description" content="クイズに答えて魔王を打ち倒せ！当社では自社開発を含め、HP制作やリニューアル、企画からデザイン・運用に至るまで、お客様のご希望に沿ったサイト構築をご提案いたします。">
  <% else %>
    <title>株式会社Bug.s</title>
    <meta property="og:title" content="株式会社Bug.s">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://bugs.co.jp/">
    <meta property="og:image" content="https://bugs.co.jp/image/ogp_top.png">
    <meta property="og:site_name" content="株式会社Bug.s">
    <meta property="og:description" content="当社はHP制作やリニューアル、企画からデザイン・運用に至るまで、お客様のご希望に沿ったサイト構築をご提案いたします。皆様や身近な方々の幸せのお手伝いをさせて下さい。">
<% end %>

<link rel="icon" href="/image/favicon.ico" id="favicon">
<link rel="apple-touch-icon" sizes="180x180" href="/image/favicon.ico">

<!-- twitter -->
<meta name="twitter:card" content="summary_large_image">

<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<!--<link rel="stylesheet" href="./css/style.css">-->
<%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

<% case controller.controller_name %>
  <% when 'indexs' %>
    <%= javascript_pack_tag 'indexs/index_modal', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'indexs/index_move_char', 'data-turbolinks-track': 'reload' %>
  <% when 'game_bugsquest' %>
    <%= stylesheet_pack_tag 'game_bugsquest/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'game_bugsquest/loading', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'game_bugsquest/ajax', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'game_bugsquest/battle', 'data-turbolinks-track': 'reload' %>
  <% when 'users' %>
    <%= javascript_pack_tag 'users/user', 'data-turbolinks-track': 'reload' %>
<% end %>

<%= javascript_pack_tag 'indexs/index_colorbox', 'data-turbolinks-track': 'reload' %>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.colorbox/1.4.33/example1/colorbox.css" integrity="sha512-R+1cHTYKUa9RTcPBCEYVUlUzDCvejxtwOZ0f41WZXaOJCOFEiMHf92OOk0pQ5cdxbMV7zfYajNyQGkm0NKbQQQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.colorbox/1.6.4/jquery.colorbox-min.js" integrity="sha512-DAVSi/Ovew9ZRpBgHs6hJ+EMdj1fVKE+csL7mdf9v7tMbzM1i4c/jAvHE8AhcKYazlFl7M8guWuO3lDNzIA48A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.js" integrity="sha512-ggJ7yQCnXifbDXFFfyNhegaNXkkPMP+0cxMDobX6pABvU4zrqD+NMXxrGoAK9iANboRjpR4ajwWHCCfJXJFpJQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>