<!DOCTYPE html>
<html lang="ja">
<%= render 'layouts/head' %>
<body>
  <%= render 'layouts/err_msg' %>
  <%= yield %>
  <%= render 'layouts/debug' %>
</body>
<%= javascript_pack_tag 'indexs/index', 'data-turbolinks-track': 'reload' %>
</html>